body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FF5733; 
}


h1, h2 {
    text-align: center;
}

form {
    margin: 20px 0;
}

input, select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button {
    background-color: #3498db; 
}


footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: #333;
}


